.site-inner.full {
padding: 0;
max-width: none;
}

.front-page-section {
     padding: 150px 0;
/*     margin: 3rem;*/

     
}

.front-page-section:nth-child(odd) {
background-color: #f7f7f7;
     
}

.front-page-section:nth-child(even) {
background-color: #fff;
}

.front-page-section .widget-title {
text-align: center; 
font-size: 2.2em;
margin-bottom: 40px;
}



.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover-image.wp-block-cover__gradient-background, 
.wp-block-cover.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover.wp-block-cover__gradient-background {
     opacity: .7 !important;
}

.wp-block-cover__inner-container > *  {
     text-align: left;
     margin-left: 2em;
     font-weight: 600;
}

.wp-block-cover__inner-container > p {
     font-size: 2em;
}

.wp-block-cover__inner-container > h1 {
     font-size: 3em;
}